resources:

- type: compute.v1.instanceTemplate
  name: {{ env["deployment"] }}-instance-template
  properties:
    properties:
      machineType: f1-micro
      metadata:
        items:
          - key: google-container-manifest
            value: | 
              apiVersion: v1
              kind: Pod
              metadata:
                name: simple-echo
              spec:
                containers:
                  - name: simple-echo
                    image: gcr.io/google-containers/busybox
                    command: ["nc", "-p", "8080", "-l", "-l", "-e", "echo", "HTTP/1.0 200 OK\r\nContent-Length:4\r\n\r\nHey!"]
                    imagePullPolicy: Always
                    ports:
                      - containerPort: 8080
                        hostPort: 80
      disks:
      - deviceName: boot
        type: PERSISTENT
        boot: true
        autoDelete: true
        initializeParams:
          sourceImage: projects/google-containers/global/images/family/container-vm
      networkInterfaces:
      - network: $(ref.{{ env["deployment"] }}-network.selfLink)
        accessConfigs:
          - type: ONE_TO_ONE_NAT

{% for zone in properties["zones"] %}

- type: compute.v1.instanceGroupManager
  name: {{ env["deployment"] }}-instance-group-{{ zone }}
  properties:
    zone: {{ zone }}
    targetSize: 1
    baseInstanceName: {{ env["deployment"] }}-instance
    instanceTemplate: $(ref.{{ env["deployment"] }}-instance-template.selfLink)

- type: compute.v1.autoscaler
  name: {{ env["deployment"] }}-autoscaler-{{ zone }}
  properties:
    zone: {{ zone }}
    target: $(ref.{{ env["deployment"] }}-instance-group-{{ zone }}.selfLink)
    autoscalingPolicy:
      minNumReplicas: 1
      maxNumReplicas: 4

{% endfor %}

- type: compute.v1.httpHealthCheck
  name: {{ env["deployment"] }}-health-check
  properties:
    port: 80
    checkIntervalSec: 1
    timeoutSec: 1
    requestPath: /

- type: compute.v1.network
  name: {{ env["deployment"] }}-network
  properties:
    autoCreateSubnetworks: true

- type: compute.v1.firewall
  name: {{ env["deployment"] }}-firewall
  properties:
    network: $(ref.{{ env["deployment"] }}-network.selfLink)
    sourceRanges: ["0.0.0.0/0"]
    allowed:
    - IPProtocol: TCP
      ports: ["80"]

- type: compute.v1.backendService
  name: {{ env["deployment"] }}-backend-service
  properties:
    port: 80
    timeoutSec: 1
    backends: 
      {% for zone in properties["zones"] %}
      - group: $(ref.{{ env["deployment"] }}-instance-group-{{ zone }}.instanceGroup)
      {% endfor %}
    healthChecks:
      - $(ref.{{ env["deployment"] }}-health-check.selfLink)

- type: compute.v1.urlMap
  name: {{ env["deployment"] }}-url-map
  properties:
    defaultService: $(ref.{{ env["deployment"] }}-backend-service.selfLink)

- type: compute.v1.targetHttpProxy
  name: {{ env["deployment"] }}-target-http-proxy
  properties:
    urlMap: $(ref.{{ env["deployment"] }}-url-map.selfLink)

- type: compute.v1.globalForwardingRule
  name: {{ env["deployment"] }}-global-forwarding-rule
  properties:
    portRange: 80
    target: $(ref.{{ env["deployment"] }}-target-http-proxy.selfLink)
  